.left{float: left;}
.right{float: right;}
.texto_center{text-align: center;}
.btn_novo{margin-top: 22px;margin-bottom:20px;}
.box-title2{display: inline-block;margin: 0;line-height: 1;}
.visibility_hidden{visibility: hidden;}
.width100{width: 100%;}